<label>Name</label>
<input type="text" name="name" value="<%= player.name %>">
<label>Club</label>
<input type="text" name="club" value="<%= player.club %>">
<label>ID</label>
<input type="text" name="id" value="<%= player.id %>">
<label>Email</label>
<input type="email" name="email" value="<%= player.club %>">
<label>Phone number</label>
<input type="tel" name="phone" value="<%= player.id %>">