<!DOCTYPE html>
<html>
<head>
    <title>All Flights</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css"  href="/stylesheets/lists.css">
</head>
<body>
<div class="sidebar">
    <h2>Navigation</h2>
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">All Flights</a></li>
        <li><a href="/flights/new">Add Flight</a></li>
    </ul>
</div>
<div id="createModal" class="modal">

    <div class="modal-content">
        <form id="create_flight_form">

        <label for="flightID">Flight ID:</label>
        <input type="number" id="flightID" name="flightID" required minlength="9" maxlength="9"><br>

        <label for="flightDate">Flight Date:</label>
        <input type="date" id="flightDate" name="flightDate" value="<%= new Date().toISOString().slice(0, 10) %>" required><br>

        <label for="hour">Hour:</label>
        <input type="time" id="hour" name="hour" required><br>

        <label for="Gate">Gate:</label>
        <input type="text" id="Gate" name="Gate" required><br>

        <label for="Destination">Destination:</label>
        <input type="text" id="Destination" name="Destination" required><br>

        <label for="Origin">Origin:</label>
        <input type="text" id="Origin" name="Origin" value="Israel" required><br>

        <label for="flightPrice">Flight Price:</label>
        <input type="number" id="flightPrice" name="flightPrice" required><br>

        <label for="ArrivingDate">Arriving Date:</label>
        <input type="date" id="ArrivingDate" name="ArrivingDate" value="<%= new Date().toISOString().slice(0, 10) %>" required><br>

        <label for="NumberOfSeats">Number of Seats:</label>
        <input type="number" id="NumberOfSeats" name="NumberOfSeats" required><br>

        <label for="ArrivingHour">Arriving Hour:</label>
        <input type="time" id="ArrivingHour" name="ArrivingHour" required><br>

        <button type="submit" id="create_flight">Create Flight</button>
        </form>
    </div>
</div>

<div id="editModal" class="modal">

    <div class="modal-content">
        <form id="edit_flight_form">

            <label for="flightID">Flight ID:</label>
            <input type="number" id="eflightID" name="flightID" required minlength="9" maxlength="9"><br>

            <label for="flightDate">Flight Date:</label>
            <input type="date" id="eflightDate" name="flightDate" value="<%= new Date().toISOString().slice(0, 10) %>" required><br>

            <label for="hour">Hour:</label>
            <input type="time" id="ehour" name="hour" required><br>

            <label for="Gate">Gate:</label>
            <input type="text" id="eGate" name="Gate" required><br>

            <label for="Destination">Destination:</label>
            <input type="text" id="eDestination" name="Destination" required><br>

            <label for="Origin">Origin:</label>
            <input type="text" id="eOrigin" name="Origin" value="Israel" required><br>

            <label for="flightPrice">Flight Price:</label>
            <input type="number" id="eflightPrice" name="flightPrice" required><br>

            <label for="ArrivingDate">Arriving Date:</label>
            <input type="date" id="eArrivingDate" name="ArrivingDate" value="<%= new Date().toISOString().slice(0, 10) %>" required><br>

            <label for="NumberOfSeats">Number of Seats:</label>
            <input type="number" id="eNumberOfSeats" name="NumberOfSeats" required><br>

            <label for="ArrivingHour">Arriving Hour:</label>
            <input type="time" id="eArrivingHour" name="ArrivingHour" required><br>

            <button type="submit" id="edit_flight">Update Flight</button>
        </form>
    </div>
</div>
<div class="main-content">
    <h1>All Flights</h1>
    <%if(isAdmin){%>
    <button id="createFlightBtn">Create New Flight</button>
    <%}%>
    <table>
        <thead>
        <tr>
            <th>Flight ID</th>
            <th>Flight Date</th>
            <th>Hour</th>
            <th>Gate</th>
            <th>Destination</th>
            <th>Origin</th>
            <th>Flight Price</th>
            <th>Arriving Date</th>
            <th>Number of Seats</th>
            <th>Arriving Hour</th>
            <%if(isAdmin){%>
            <th>Actions</th>
            <%}%>
        </tr>
        </thead>
        <tbody id="flightList">
        <% flights.forEach(function(flight) { %>
            <tr>
                <td><%= flight.flightID %></td>
                <td><%= flight.flightDate %></td>
                <td><%= flight.hour %></td>
                <td><%= flight.Gate %></td>
                <td><%= flight.Destination %></td>
                <td><%= flight.Origin %></td>
                <td><%= flight.flightPrice %></td>
                <td><%= flight.ArrivingDate %></td>
                <td><%= flight.NumberOfSeats %></td>
                <td><%= flight.ArrivingHour %></td>
                <td>
                    <%if(isAdmin){%>
                        <button class="editFlight" data-flightid="<%= flight._id %>"
                                data-flightactualid="<%= flight.flightID %>"
                                data-flightdate="<%= flight.flightDate %>"
                                data-hour="<%= flight.hour %>"
                                data-gate="<%= flight.Gate %>"
                                data-destination="<%= flight.Destination %>"
                                data-origin="<%= flight.Origin %>"
                                data-price="<%= flight.flightPrice %>"
                                data-arrivingdate="<%= flight.ArrivingDate %>"
                                data-numberofseats="<%= flight.NumberOfSeats %>"
                                data-arrivinghour="<%= flight.ArrivingHour %>">
                            <i class="trash"></i> Edit
                        </button>

                        <button class="deleteFlight" data-flightid="<%= flight._id %>">
                            <i class="edit"></i> Delete
                        </button>
                    <%}%>
                </td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="./flights.js"></script>
</body>
</html>